*{
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  color:white
}

a{
  text-decoration: none;
  color: red;
  transition: .5s;
}

a:hover{
  color:red;
}
